.daily-forecast {
  display: flex;
  flex-direction: column;
  gap: 5px;
  
  /* Espace entre chaque prévision quotidienne */
}


.day-forecast {
  display: flex;
  justify-content: space-between;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-details,
.power-chart {
  width: 48%;
  /* Ajustez la largeur comme nécessaire */
}